<div>

  <form action="/auth/login" method="POST">
    <label for="email"> Correo:</label>
    <input type="text" name="email" required="true" />
    <br />
    <label for="password"> Contraseña:</label>
    <input type="password" name="password" required="true" />
    <br />
    <h5>{{errorMessage}}</h5>
    <br />
    <button>Acceder</button>
  </form>

</div>