<section>

<div class="container py-4" "row g-0 align-items-center" "col-lg-6 mb-5 mb-lg-0" "card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            " "card-body p-5 shadow-5 text-center">
    <h2 class="fw-bold mb-5">Registrate</h2>        

<form action="/auth/signup" method="POST"> 

<label class="form-label" for="username"> Nombre:</label>
<input class="form-control" type="text" name="username" required="true">
<br>
<label class="form-label" for="email"> Correo:</label>
<input class="form-control"type="text" name="email" required="true">
<br>
<label class="form-label" for="password"> Contraseña:</label>
<input class="form-control"type="password" name="password" required="true">
<br>
<h5>{{errorMessage}}</h5>
<br>
<button class="btn btn-primary btn-block mb-4">Registrate</button>
</form>

</div>
</section>