<div id="profile">
  <div id="py-4" class="d-grid gap-2 col-6 mx-auto">
    <h1>Bienvenido a su perfil!
      <br />
      Estas son sus recetas...</h1>

    <div>
      {{#each myRecipe}}
        <h5>

          <a
            class="btn btn-dark btn-rounded"
            href="/recipe/{{this._id}}/details"
          >{{this.recipename}}</a>
        </h5>

      {{/each}}
    </div>
  </div>
</div>