body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 1680px 900px, cover;
}
#mainNav {
  font-family: "Cabin","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 0;
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,.3);
  background-color: #000;
}
#mainNav a {
  color: #fff;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
#index {
  margin-top: 0px;
  background-image: url("/images/index.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#logo{
  margin: center
  ;
}
#login {
  margin-top: 0px;
  background-image: url("/images/login.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#signup {
  margin-top: 0px;
  background-image: url("/images/signup.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#py-4 {
  margin-top: 0px;
  width: 500px;
  height: 500px;
}
#py-5 {
  margin-top: 0px;
  width: 400px;
  height: 50px;
}
#signupform {
  background-color: rgb(230, 224, 224);
height: 400px;
width: 400px;
}
#recipelist {
  margin-top: 0px;
  color: white;
  background-image: url("/images/list.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mb-1{
  margin-left: 500px;
  margin-right: 600px;
}
.centrar{
  margin-left: 500px;
  margin-right: 600px;
}
#profile{
  color: white;
  margin-top: 0px;
  background-image: url("/images/profile.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#links{
  width: 400px;
  height: 50px;
  
}

#newrecipe {
  color: black;
  margin-top: 0px;
  background-image: url("/images/newrecipe.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#edit{
  margin-top: 0px;
  background-image: url("/images/edit.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#detailsPage{
  margin-top: 0px;
  background-image: url("/images/details.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  color: #00B7FF;
}
h1 {
  color: 15px;
}