<div>
  <form action="/recipe/new-recipe" method="POST">

    <label for="recipename">Nombre:</label>
    <input type="text" name="repipename" required="true" value="{{dateRecipe.recipename}}">
    <br>
    <label for="ingredients"> Ingredientes:</label>
    <input type="text" name="ingredients" required="true" value="{{dateRecipe.ingredients}}">
    <br>
    <label for="preparation">Preparacion:</label>
    <input type="text" name="preparation" required="true" value="{{dateRecipe.preparation}}">
    <br>
    <label for="owner">Creador</label>
    <input type="text" name="owner" required="true" value="{{dateRecipe.owner}}">
    <br>
    
    
    <button>Crear receta</button>

  </form>
 </div>