<div id="recipelist">
  <div id="py-4" class="d-grid gap-2 col-6 mx-auto">
    <h1> Lista de Recetas</h1>
    {{#each oneRecipe}}
      <a
        class="btn btn-dark btn-rounded"
        href="/recipe/{{this._id}}/details"
      ><h3> {{this.recipename}} </h3></a>
    {{/each}}
  </div>
</div>