<h1>Esta es la lista</h1>

<div class="list-group list-group-numbered">
  {{#each oneRecipe}}
    <li>
      <a class="list-group-item"  href="/recipe/{{this._id}}/details">{{this.recipename}}</a>
    </li>
  {{/each}}
</div>