<h1>recetas</h1>

 <div>
  <form action="/recipe/new-recipe" method="POST">

    <label for="recipename">Nombre:</label>
    <input type="text" name="recipename" required="true">
    <br>
    <label for="ingredients"> Ingredientes:</label>
    <input type="text" name="ingredients" required="true">
    <br>
    <label for="preparation">Preparacion:</label>
    <input type="text" name="preparation" required="true">
    <br>
  
    
    <button type="submit">Crear receta</button>

  </form>
 </div>