<h1>recetas</h1>

<div>
  <form action="/recipe/create" method="POST">

    <label for="recipename">Nombre:</label>
    <input type="text" name="recipename" required="true" />
    <br />
    <label for="ingredients"> Ingredientes:</label>
    <input type="text" name="ingredients" required="true" />
    <br />
    <label for="preparation">Preparacion:</label>
    <input type="text" name="preparation" required="true" />
    <br />
    <button type="submit">Crear receta</button>
    <br />
    <form action="">
      <label for="image">Selecciona la Imagen:</label>
      <input type="file" name="image" />
    </form>

  </form>
</div>